
@{
    ViewBag.Title = "Register as Producer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <form>
                    <div class="form-row col">
                        <div class="col-form-label" style="width: 50%;">
                            <label for="text">Name</label>
                            <input type="text" class="form-control" id="text" placeholder="Your Name">
                        </div>
                        <div class="col-form-label" style="width: 50%;">
                            <label for="text">Surname</label>
                            <input type="text" class="form-control" id="text" placeholder="Your Surname">
                        </div>
                    </div>
                    <div class="form-row col">
                        <div class="col-form-label" style="width: 100%;">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="email@example.com">
                        </div>

                    </div>
                    <div class="form-row col">
                        <div class="col-form-label" style="width: 50%;">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-form-label" style="width: 50%;">
                            <label for="inputPassword4">Re-enter Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-row col">
                        <label for="exampleFormControlTextarea1">Something about your producing experience</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your favourite genre, what soft do you use, etc."></textarea>
                    </div>
                    <div class="text-center" style="margin-top:20px;">
                         <button type="button" class="btn btn-light btn-register">Register</button>
                    </div>
</form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="@Url.Content("~/Content/img/songproducer.jpg")" style="margin: 0px; width: 100%;">
                <h4 align="center">"You make your mistakes to learn how to get to the good stuff." – Quincy Jones</h4>
            </div>
        </div>
    </div>