@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col">
            <h5 style="margin: 30px; ">Delete User</h5>
            <hr />

            @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
            {
                @Html.TextBox("user")
                <div style="margin:15px; margin-left:50px;">
                    <button type="submit" class="btn btn-primary">Delete User</button>
                </div>
                <p style="margin-top:10px; color:black;">Status: @TempData["DeleteStatus"]</p>
            }
        </div>

        <div class="col">
            <h5 style="margin: 30px; ">Add administator</h5>
            <hr />

            @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
            {
                @Html.TextBox("user")
                <div style="margin:15px; margin-left:50px;">
                    <button type="submit" class="btn btn-primary">Add Admin</button>
                </div>
                <p style="margin-top:10px;">Status: @TempData["AddStatus"]</p>
            }
        </div>
    </div>
</div>



